
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

@* Definição da classe de modelo que será utilizada nessa página *@
@model AgendaWeb.Presentation.Models.TarefaCadastroModel

<div>
    <h5>Cadastro de Tarefas</h5>
    <p>Preencha o formulário abaixo para incluir uma tarefa na sua agenda</p>
    <hr/>
</div>

@* Formulário de Cadastro *@
@using(Html.BeginForm())
{
    <div class="row mb-3">
        <div class="col-md-6">
            <label>Nome da tarefa: </label>
            @Html.TextBoxFor(model => model.Nome, new { @class = "form-control"})

            <div class="text-danger">
                @Html.ValidationMessageFor(model => model.Nome)
            </div>
        </div>
        <div class="col-md-3">
            <label>Data da tarefa:</label>
            @Html.TextBoxFor(model => model.Data, new { @class = "form-control", @type = "date" })

            <div class="text-danger">
                @Html.ValidationMessageFor(model => model.Data)
            </div>
        </div>
        <div class="col-md-3">
            <label>Hora da tarefa:</label>
            @Html.TextBoxFor(model => model.Hora, new { @class = "form-control", @type = "time" })

            <div class="text-danger">
                @Html.ValidationMessageFor(model => model.Hora)
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-9">
            <label>Descrição da tarefa:</label>
            @Html.TextAreaFor(model => model.Descricao, new { @class = "form-control" })

            <div class="text-danger">
                @Html.ValidationMessageFor(model => model.Descricao)
            </div>
        </div>
        <div class="col-md-3">
            <label>Prioridade da tarefa:</label>
            <br/>
            @Html.RadioButtonFor(model => model.Prioridade, "1") <label>ALTA</label>
            <br/>
            @Html.RadioButtonFor(model => model.Prioridade, "2") <label>MÉDIA</label>
            <br/>
            @Html.RadioButtonFor(model => model.Prioridade, "3") <label>BAIXA</label>

            <div class="text-danger">
                @Html.ValidationMessageFor(model => model.Prioridade)
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-12">
            <input type="submit" formmethod="post" class="btn btn-success" value="Realizar Cadastro" />
        </div>
    </div>
}
