
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

@* Defirnindo o model que será usado nesta tela de Consulta *@
@model AgendaWeb.Presentation.Models.TarefaConsultaModel

<div>
    <h5>Consulta de Tarefas</h5>
    <p>Informe o período de datas para pesquisa de tarefas na agenda</p>
    <hr/>

    @* Definindo o formulário *@
    @using (Html.BeginForm())
    {
        <div class="row mb-3">
            <div class="col-md-3">
                <label>Data de início:</label>
                @Html.TextBoxFor(model => model.DataMin, new { @class = "form-control", @type = "date"})

                <div class="text-danger">
                    @Html.ValidationMessageFor(model => model.DataMin)
                </div>
            </div>
            <div class="col-md-3">
                <label>Data de término:</label>
                @Html.TextBoxFor(model => model.DataMax, new { @class = "form-control", @type = "date"})

                <div class="text-danger">
                    @Html.ValidationMessageFor(model => model.DataMax)
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12">
                <input type="submit" formmethod="post" class="btn btn-success" value="Pesquisar Tarefas">
            </div>
        </div>
    }

    <!-- Mostrar lista de tarefas retornadas na consulta -->
    @if (Model != null && Model.Tarefas != null)
    {
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th>Nome da Tarefa</th>
                    <th>Data</th>
                    <th>Hora</th>
                    <th>Prioridade</th>
                    <th>Descrição</th>
                    <th>Operações</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model.Tarefas)
                {
                    <tr>
                        <td>@item.Nome</td>
                        <td>@item.Data.ToString("dd/MM/yyyy")</td>
                        <td>@item.Hora</td>
                        <td>@item.Prioridade</td>
                        <td>@item.Descricao</td>
                        <td>
                            <a href="/Tarefa/Edicao?id=@item.Id" class="btn btn-primary btn-sm">
                                Editar
                            </a>
                        </td>
                        <td>
                            <a href="/Tarefa/Exclusao?id=@item.Id" class="btn btn-danger btn-sm"
                                    onclick="return confirm('Deseja excluir a tarefa selecionada?')">
                                Excluir
                            </a>
                        </td>
                    </tr>
                }
            </tbody>

            <tfoot>
                <tr>
                    <td colspan="6">
                        Quantidade de tarefas obtidas: @Model.Tarefas.Count
                    </td>
                </tr>
            </tfoot>
        </table>
    }

</div>